.Product {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ProductTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}

.ProductBar {
  display: flex;
  gap: 12px;
  align-items: center;
}

.searchBar {
  width: 325px;
  height: 42px;
  padding-bottom: 16px;
  display: flex;
  background-color: var(--gray-100);
  border-radius: 12px;
  padding: 9px 16px;
  flex: 1;
  align-items: center;
}

.searchImg {
  position: absolute;
}
.searchInput {
  width: 100%;
  height: 42px;
  border: none;
  flex: 1;
  background-color: #f3f4f6;
  border-radius: 12px;
  margin-left: -5px;
  padding-left: 30px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .Item {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 24px;
  }
}
@media (max-width: 768px) {
  .Item {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 24px;
  }
}

.optionButton {
  width: 13rem;
  height: 4.2rem;
  background-color: var(--white);
  border: 1px solid var(--gray-200);
  border-radius: 1.2rem;
  padding: 1.2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addItemBtn {
  background-color: #3692ff;
  color: #ffffff;
  border: 0px;
  border-radius: 8px;
  width: 132px;
  height: 42px;
  font-weight: 600;
}

.Item {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  gap: 24px;
}

.btnToggle {
  position: relative;
}
.optionWrapper {
  top: 4.6rem;
  position: absolute;
}

.OptionsContainer {
  position: absolute;
  z-index: 1;
  width: 130px;
  height: 84px;
  background: #ffffff;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: #e5e7eb;
  border-radius: 12px 12px 12px 12px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #1f2937;
  right: 0;
}

.Option {
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 42px;
  border-bottom: 1px solid #ccc;
}
