.banner {
  width: 100vw;
  height: 540px;
  background-color: var(--blue-300);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.banner_inner {
  width: 1920px;
  height: 540px;
  position: relative;
  display: flex;
  justify-content: center;
}

.banner_inner__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  width: 1200px;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 56px;
  z-index: 1;
}

.banner_inner__img {
  right: 10vw;
  bottom: 0;
  position: absolute;
}
.banner_inner__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 355px;
  height: 56px;
  background-color: var(--blue-400);
  border: 0;
  border-radius: 40px;
  font-weight: 600;
  font-size: 20px;
  color: var(--white);
  text-decoration: none;
}

.br{}